// Copy to secrets.h and fill in your values
#define WIFI_SSID         "YOUR_SSID"
#define WIFI_PASS_HOME    "YOUR_PASSWORD"
#define WIFI_PASS_WORK    ""
#define SERVER_IP_HOME    "YOUR_SERVER_IP"
#define SERVER_IP_WORK    ""
